{% extends "admins/base.html" %}
{% load static %}

{% block content %}

<style>
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  background: #ffffff;
  color: #414141;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select-box {
  cursor: pointer;
  position : relative;
  max-width:  20em;
  margin: 5em auto;
  width: 100%;
}

.select,
.label {
  color: #414141;
  display: block;
  font: 400 17px/2em 'Source Sans Pro', sans-serif;
}

.select {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 5px 0;
  height: 40px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none transparent;
  border: 0 none;
}
.select-box1 {
  background: #ececec;
}

.label {
  position: relative;
  padding: 5px 10px;
  cursor: pointer;
}
.open .label::after {
   content: "▲";
}
.label::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 15px;
  border-left: 5px solid #fff;
}
</style>

<div class="container-fluid page-body-wrapper">
    {% include 'admins/sidbare.html' %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 d-flex justify-content-start">
                                    <h4 class="card-title">Mashinalar royxati</h4>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Qidirish...">
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary btn-icon-text">
                                                <i class="typcn typcn-zoom-in-outline icon-md"></i>
                                                Qidirish
                                            </button>
                                        </div>
                                    </div>&nbsp;&nbsp;
                                    <a href="{% url 'car_input' %}" class="btn  btn-success"> Qo'shish</a>
                                </div>
                            </div><br>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>
                                            Rasm
                                        </th>
                                        <th>
                                           Model
                                        </th>
                                        <th>
                                           Bredi
                                        </th>
                                        <th>
                                            Yoqilg'i
                                        </th>
                                        <th>
                                            Yaralgan vaqt
                                        </th>
                                        <th>
                                            Harakat
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for car in cars %}
                                    <tr>
                                        <td class="py-3">
                                            <img src="{{car.get_image}}" alt="image"/>
                                        </td>
                                        <td>
                                            {{car.carmodels}}
                                        </td>
                                        <td>
                                            {{car.carmodels.carbrends}}
                                        </td>
                                        <td>
                                            {{car.fuel}}
                                        </td>
                                        <td>
                                            {{car.carprice}}
                                        </td>
                                        <td>
                                            <a href="{% url 'cars_edit' pk=car.id %}"
                                               class="btn btn-outline-secondary btn-rounded ">
                                                <i class="typcn typcn-edit text-succes "></i>
                                            </a>
                                            <a href="{% url 'car_delete' pk=car.id %}"
                                               class="btn btn-outline-secondary btn-rounded ">
                                                <i class="typcn typcn-archive text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        {% include 'admins/footer.html' %}
    </div>
    <!-- main-panel ends -->

</div>

<script src="">
    $("select").on("click" , function() {

$(this).parent(".select-box").toggleClass("open");

});

$(document).mouseup(function (e)
{
var container = $(".select-box");

if (container.has(e.target).length === 0)
{
    container.removeClass("open");
}
});


$("select").on("change" , function() {

var selection = $(this).find("option:selected").text(),
  labelFor = $(this).attr("id"),
  label = $("[for='" + labelFor + "']");

label.find(".label-desc").html(selection);

});
</script>
{% endblock content %}